.message-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  overflow-y: scroll;
  height: 70%;
}

.message-wrapper div {
  font-size: 2.6rem;
}

.current-username {
  align-self: flex-end;
}

.active_message {
  align-self: flex-end;
}

.only_message {
  align-self: flex-start;
  background-color: #123514 !important;
}

.designing {
  padding: 0.6rem 1.6rem;
  margin: 0.6rem;
  background-color: #246a28;
  color: #fff;
  border-radius: 50px;
  max-width: 70rem;
}
.heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #308d36;
}

.heading img {
  height: 7rem;
  width: 7rem;
  border-radius: 100%;
}

.heading .active_user_name {
  font-size: 4rem;
  color: #fff;
  margin-left: 3rem;
}

/********************/
/*      Send Message */
/********************/

.chat_wrapper {
  /* background-color: #246a28; */
  padding: 2.3rem 2rem;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /****************************/
  position: absolute;
  top: 80%;
  left: 50%;
}

.input_icon_wrapper {
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_icon_wrapper input {
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 50px;
  width: 40rem;
}

.input_icon_wrapper svg {
  font-size: 4rem;
  margin-top: 0.4rem;
}

.input_icon_wrapper svg:hover {
  cursor: pointer;
}

.input_icon_wrapper input::placeholder {
  opacity: 0.6;
}
