.person-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35rem;
  margin: 2rem 0;
  background-color: #2a7b2f;
  padding: 1rem 2rem;
  border-radius: 50px;
  cursor: pointer;
}

.person-wrapper img {
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
}

.person-wrapper p {
  font-size: 2.4rem;
  color: #fff;
}

.person-wrapper span {
  font-size: 2rem;
  /* color: #fff; */
  padding: 1rem 1.8rem;
  border-radius: 100%;
  background-color: #c5e7c7;
}
.active-user {
  background-color: #77c87b !important;
  color: #000 !important;
}
.active_span {
  opacity: 0;
}
